.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 148px;
  background-color: #2d2d2d;
  z-index: -1;
}
.title {
  margin-top: 40px;
  h1 {
    text-align: center;
    color: #2d2d2d;
  }
}
